<h1>Song Detail</h1>

<p>Title: <%= @song.name %></p>

<p>Year Released: <%= @song.year_released %></p>

<p>Artist: <%= @song.artist.name %></p>

<h3>Take a quick poll</h3>

<%= form_for @song do |form| %>
  <div class="form-group">
    <%= form.label :Do_you_like_the_artist_voice %>
    <%= form.text_field :answer, class: "form-control" %>
  </div>

  <div class="radio">
    <%= form.label :Do_you_like_the_artist_voice %>
      <label>
        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option one is this and that; be sure to include why it's great
      </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Option two can be something else and selecting it will deselect option one
    </label>
  </div>

<%= form.button 'Submit', class: "btn btn-success" %>

<% end %>